/* Common styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

/* Tab Header */
.tab-header {
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid;
  transition: background-color 0.3s, border-color 0.3s;
}

.tab-header a {
  padding: 10px;
  margin-right: 10px;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.tab-header a:hover {
  transform: scale(1.1);
}

/* Tab Content */
.tab-content {
  padding: 20px;
  transition: background-color 0.3s, border-color 0.3s;
}

 /* Main Content */
 .main-content {
  flex: 1;
  margin-left: 200px;
  margin-top: 0px; 
  padding: 20px;
}

.content {
  flex: 1;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}
